@font-face {
  font-family: 'ralewayregular';
  src: url("./../fonts/raleway-regular/raleway-regular-webfont.woff2") format("woff2"), url("./../fonts/raleway-regular/raleway-regular-webfont.woff") format("woff"), url("./../fonts/raleway-regular/raleway-regular-webfont.ttf") format("truetype"), url("./../fonts/raleway-regular/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("./../fonts/raleway-medium/raleway-medium-webfont.woff2") format("woff2"), url("./../fonts/raleway-medium/raleway-medium-webfont.woff") format("woff"), url("./../fonts/raleway-medium/raleway-medium-webfont.ttf") format("truetype"), url("./../fonts/raleway-medium/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("./../fonts/raleway-bold/raleway-bold-webfont.woff2") format("woff2"), url("./../fonts/raleway-bold/raleway-bold-webfont.woff") format("woff"), url("./../fonts/raleway-bold/raleway-bold-webfont.ttf") format("truetype"), url("./../fonts/raleway-bold/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'milluniumbold';
  src: url("./../fonts/millunium-bold/millunium-bold-webfont.woff2") format("woff2"), url("./../fonts/millunium-bold/millunium-bold-webfont.woff") format("woff"), url("./../fonts/millunium-bold/millunium-bold-webfont.ttf") format("truetype"), url("./../fonts/millunium-bold/millunium-bold-webfont.svg#milluniumbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.banner {
  height: 720px;
  background-image: url(./../../styles/images/pp-main-background.jpg);
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .banner {
      height: 620px; } }
  @media screen and (max-width: 520px) {
    .banner {
      height: 500px; }
      .banner .banner-content {
        top: 58%; }
        .banner .banner-content p {
          margin-bottom: 25px; }
        .banner .banner-content h1 {
          margin-bottom: 15px; } }
  @media screen and (min-width: 521px) and (max-width: 768px) {
    .banner .banner-content p {
      margin-bottom: 30px; } }

.banner-content {
  top: 58%;
  position: relative;
  transform: translateY(-50%);
  padding: 0 15px; }
  .banner-content p {
    margin-bottom: 55px; }

body {
  margin: 0; }

.text-center {
  text-align: center; }

.color-white, span.color-white,
p.color-white {
  color: #FFF; }

.color-green {
  color: #3EAD48; }

.color-grey {
  color: #7E7E7E; }

.mt-5 {
  margin-top: 50px !important; }

.mt-6 {
  margin-top: 60px !important; }

.pt-10 {
  padding-top: 100px; }

.pb-5 {
  padding-bottom: 50px; }

.pb-10 {
  padding-bottom: 100px; }

.pt-5 {
  padding-top: 50px; }

.mb-2-5 {
  margin-bottom: 25px; }

.mb-10 {
  margin-bottom: 100px !important; }

@media screen and (min-width: 769px) {
  .hidden-lg {
    display: none !important; } }

.element-shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18); }

.relative {
  position: relative; }

h1, h2, .h2, h3, .h3 {
  font-family: "milluniumbold", Arial, Helvetica, sans-serif; }

h1 {
  font-size: 64px;
  line-height: 64px;
  margin: 15px 0 35px; }
  @media screen and (max-width: 520px) {
    h1 {
      font-size: 38px;
      line-height: 38px; } }

h2, .h2 {
  font-size: 48px;
  line-height: 56px; }
  @media screen and (max-width: 520px) {
    h2, .h2 {
      font-size: 32px;
      line-height: 38px; } }

h3, .h3 {
  font-size: 32px;
  line-height: 38px;
  margin: 10px 0; }
  @media screen and (max-width: 520px) {
    h3, .h3 {
      font-size: 24px;
      line-height: 28px; } }

h4, .h4 {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "ralewaybold", Arial, Helvetica, sans-serif;
  color: #7E7E7E; }
  @media screen and (max-width: 520px) {
    h4, .h4 {
      font-size: 15px;
      line-height: 20px; } }

p, .p, q, span, input, textarea {
  font-size: 15px;
  line-height: 24px;
  font-family: "ralewayregular", Arial, Helvetica, sans-serif; }
  @media screen and (max-width: 520px) {
    p, .p, q, span, input, textarea {
      font-size: 14px;
      line-height: 22px; } }

p, .p, q, span {
  color: #323232; }

input, textarea {
  color: #7E7E7E; }

i {
  font-style: normal; }

p {
  margin-bottom: 25px; }

button, .button {
  font-size: 16px;
  line-height: 19px;
  font-family: "ralewaybold", Arial, Helvetica, sans-serif;
  color: #323232; }
  @media screen and (max-width: 520px) {
    button, .button {
      font-size: 15px;
      line-height: 18px; } }

.bold {
  font-family: "ralewaybold", Arial, Helvetica, sans-serif; }

.medium {
  font-family: "ralewaymedium", Arial, Helvetica, sans-serif; }

nav a {
  font-family: "ralewaybold", Arial, Helvetica, sans-serif; }

body {
  font-family: "ralewayregular", Arial, Helvetica, sans-serif; }

input, textarea {
  font-family: "ralewayregular", Arial, Helvetica, sans-serif; }

.button {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #F4F4F4;
  padding: 15px 90px;
  transition-duration: 0.3s;
  display: inline-block;
  text-decoration: none; }
  @media screen and (max-width: 520px) {
    .button {
      padding: 15px 55px; } }

.button-primary {
  background-color: #3EAD48; }
  .button-primary:hover, .button-primary:focus, .button-primary:active {
    background-color: #47bd52; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container:after {
    clear: both;
    content: "";
    display: table; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; }

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px; }
  @media screen and (min-width: 521px) and (max-width: 768px) {
    .grid-5 {
      grid-template-columns: 1fr 1fr 1fr; }
      .grid-5 div:nth-of-type(4), .grid-5 div:last-of-type {
        grid-row: 2; }
      .grid-5 div:nth-of-type(4) {
        grid-column: 2 / 4; }
      .grid-5 div:last-of-type {
        grid-column: 1 / 3; } }

.grid-2 {
  display: grid;
  grid-column-gap: 65px;
  grid-template-columns: 5fr 6fr; }

.grid-50 {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr; }

.flex-container {
  display: flex;
  align-items: stretch; }

.tiles-3-grid-wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr; }
  .tiles-3-grid-wrapper .text-block {
    width: 100%;
    padding: 50px;
    margin-bottom: 50px; }
  .tiles-3-grid-wrapper .image-block {
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: -70px;
    margin-left: 0;
    position: relative;
    z-index: 1; }
  .tiles-3-grid-wrapper .statistics-block {
    padding: 40px;
    width: 85%;
    margin-left: 65px;
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1; }
  .tiles-3-grid-wrapper .quote-block {
    padding: 50px 50px 50px 120px;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 50px; }

@media screen and (min-width: 521px) and (max-width: 768px) {
  .grid-column-change-order {
    grid-template-columns: 6fr 3fr;
    padding: 15px; }
    .grid-column-change-order div.statistics-block {
      order: 2;
      margin: 70px 0 0 30px;
      padding: 0;
      width: calc(100% - 30px); }
      .grid-column-change-order div.statistics-block h4 {
        margin: 45px 20px 0; }
      .grid-column-change-order div.statistics-block .statistics-wrapper {
        padding: 40px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px; }
    .grid-column-change-order .image-block {
      order: 3;
      margin-top: -100px;
      height: 320px;
      margin-left: 30px;
      width: calc(100% + 60px); }
    .grid-column-change-order .text-block {
      padding: 50px 30px;
      margin-bottom: 100px; }
      .grid-column-change-order .text-block p {
        margin-bottom: 50px; } }

@media screen and (max-width: 520px) {
  .grid-column-change-order {
    grid-template-columns: 1fr; }
    .grid-column-change-order .text-block {
      padding: 0;
      margin: 0 15px;
      width: calc(100% - 30px); }
      .grid-column-change-order .text-block div {
        padding: 40px 15px; }
    .grid-column-change-order .image-block {
      margin-top: -35px; }
    .grid-column-change-order .statistics-block {
      margin: 0;
      padding: 40px 0;
      width: 100%; }
      .grid-column-change-order .statistics-block .statistics-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 25px; } }

.scroll-down {
  display: block;
  width: 36px;
  height: 36px;
  background: transparent;
  border: 2px solid #BBBFCE;
  border-radius: 50%;
  margin: 60px auto 0;
  position: relative;
  cursor: pointer; }
  .scroll-down:after {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    border-bottom: 2px solid #BBBFCE;
    border-right: 2px solid #BBBFCE;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    transform: rotate(45deg);
    transition-duration: 0.15s; }
  .scroll-down:focus, .scroll-down:hover, .scroll-down:active {
    outline: none; }
    .scroll-down:focus:after, .scroll-down:hover:after, .scroll-down:active:after {
      top: 30%; }
  @media screen and (max-width: 520px) {
    .scroll-down {
      margin-top: 20px; } }
  @media screen and (min-width: 521px) and (max-width: 768px) {
    .scroll-down {
      margin-top: 35px; } }

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  transition-duration: 0.3s; }
  nav a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    line-height: 36px; }
    nav a.logo {
      display: block;
      margin: 15px 15px 15px 0;
      width: 159px;
      height: 36px;
      background-image: url(./../../styles/images/jb-logo.svg);
      background-repeat: no-repeat; }
  nav ul {
    padding-left: 0;
    text-align: right; }
  nav li {
    list-style-type: none;
    display: inline;
    padding: 0 10px; }
    nav li:last-of-type {
      padding-right: 0; }
  nav .menu-opener {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 5; }
    nav .menu-opener:focus {
      outline: none; }
      nav .menu-opener:focus span {
        background-color: #BBBFCE; }
    nav .menu-opener span {
      display: block;
      width: 30px;
      height: 5px;
      background-color: #FFF;
      border-radius: 3px;
      transition-duration: 0.3s;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto; }
      nav .menu-opener span:first-of-type {
        top: 7px; }
      nav .menu-opener span:nth-of-type(even) {
        top: 17px; }
      nav .menu-opener span:last-of-type {
        top: 27px; }
  @media screen and (max-width: 1280px) {
    nav a.logo {
      margin-left: 15px; } }
  @media screen and (max-width: 768px) {
    nav ul {
      width: 65%;
      position: fixed;
      right: 0;
      top: 0;
      padding-top: 75px;
      transform: translateX(100%);
      transition-duration: 0.3s;
      text-align: left;
      height: 100%;
      background-color: #1E3066;
      margin-top: 0; }
    nav li {
      display: block; }
      nav li a {
        padding-left: 75px;
        position: relative; }
        nav li a:before {
          position: absolute;
          left: -60px;
          width: 65px;
          height: 3px;
          background-color: #3EAD48;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition-duration: 0.3s; }
        nav li a.active:before, nav li a:hover:before, nav li a:focus:before {
          opacity: 1;
          left: -40px; }
    nav a.logo {
      width: 36px; } }
  nav.nav-dark {
    background-color: #1E3066; }

.show-menu {
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .show-menu .menu-opener {
    transform: rotateY(180deg); }
    .show-menu .menu-opener span {
      background-color: #BBBFCE; }
      .show-menu .menu-opener span:first-of-type {
        transform: rotate(45deg);
        top: 18px; }
      .show-menu .menu-opener span:nth-of-type(even) {
        opacity: 0; }
      .show-menu .menu-opener span:last-of-type {
        transform: rotate(-45deg);
        top: 18px; }
  .show-menu ul {
    transform: translateX(0); }
    .show-menu ul a:before {
      content: ''; }

.mobile-menu-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
  cursor: pointer; }

.section-light-grey {
  background-color: #F4F4F4; }

.section-white {
  background-color: #FFF;
  position: relative; }
  .section-white.additional-color-gap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    background-color: #FFF; }

.section-green {
  background-color: #3EAD48;
  color: #FFF; }
  .section-green * {
    color: #FFF; }

.content-block {
  top: 0;
  left: 0;
  display: inline-block;
  float: left; }
  .content-block img {
    width: 100%;
    height: auto; }

.text-block {
  position: relative;
  z-index: 2;
  border-radius: 3px; }

.image-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../../styles/images/pp-foosball-match.jpg); }

.statistics-block h4 {
  margin-top: 5px;
  margin-bottom: 30px; }

.statistics-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.statistics-item i {
  display: block; }

q {
  display: block;
  position: relative; }
  q:before {
    font-size: 60px;
    position: absolute;
    left: -40px;
    top: -10px;
    color: rgba(255, 255, 255, 0.5); }

.avatar {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 15px; }
  .avatar .image {
    width: 64px;
    height: 64px;
    background-image: url(./../../styles/images/pp-social-proof.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: #FFF; }
  .avatar .name span {
    display: block; }
  .avatar .name-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; }

.section-contact .image-block {
  width: 100%;
  height: 420px;
  margin: 0;
  padding: 0;
  background-image: url(./../../styles/images/pp-office.jpg); }

.award-element span {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.award-element i {
  margin: 25px 0 15px;
  display: block; }
  .award-element i:before {
    content: '\0023'; }

.awards-block div:first-of-type span {
  background-image: url(./../../styles/images/pp-reward-1.svg); }

.awards-block div:nth-of-type(2) span {
  background-image: url(./../../styles/images/pp-reward-2.svg); }

.awards-block div:nth-of-type(3) span {
  background-image: url(./../../styles/images/pp-reward-3.svg); }

.awards-block div:nth-of-type(4) span {
  background-image: url(./../../styles/images/pp-reward-4.svg); }

.awards-block div:nth-of-type(5) span {
  background-image: url(./../../styles/images/pp-reward-5.svg); }

footer {
  padding: 40px 15px;
  background-color: #1E3066; }

.contact-form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #C2C2C2;
  padding: 15px 0; }

.contact-form textarea {
  background-color: #F4F4F4;
  border: 1px solid #C2C2C2;
  padding: 15px 20px;
  border-radius: 3px;
  min-height: 110px;
  width: 100%;
  box-sizing: border-box;
  display: block; }

.contact-form input, .contact-form textarea {
  transition-duration: 0.3s;
  outline: none; }
  .contact-form input:focus, .contact-form textarea:focus {
    border-color: #1E3066; }
