.banner {
  height: 720px;
  background-image: url(./../../styles/images/pp-main-background.jpg);
  background-position: center;
  background-size: cover; }

.banner-content {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  padding: 0 15px; }

body {
  margin: 0; }

.text-center {
  text-align: center; }

.color-white {
  color: #FFF; }

.mt-5 {
  margin-top: 50px !important; }

.pt-10 {
  padding-top: 100px; }

.pb-10 {
  padding-bottom: 100px; }

@media screen and (min-width: 768px) {
  .hidden-lg {
    display: none !important; } }

.element-shadow {
  box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.5); }

.button {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #F4F4F4;
  padding: 15px 28px;
  transition-duration: 0.3s;
  display: inline-block;
  text-decoration: none; }

.button-primary {
  background-color: #3EAD48; }
  .button-primary:hover, .button-primary:focus, .button-primary:active {
    background-color: #47bd52; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container:after {
    clear: both;
    content: "";
    display: table; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; }

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px; }

.grid-2 {
  display: grid;
  grid-column-gap: 65px;
  grid-template-columns: 1fr 1fr; }

.flex-container {
  display: flex;
  align-items: stretch; }

.right-lower {
  width: calc(50% - 35px);
  padding: 50px 50px 50px 100px;
  margin-top: 70px;
  margin-left: -55px; }

.scroll-down {
  display: block;
  width: 36px;
  height: 36px;
  background: transparent;
  border: 2px solid #BBBFCE;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  cursor: pointer; }
  .scroll-down:after {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    border-bottom: 2px solid #BBBFCE;
    border-right: 2px solid #BBBFCE;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    transform: rotate(45deg);
    transition-duration: 0.15s; }
  .scroll-down:focus, .scroll-down:hover, .scroll-down:active {
    outline: none; }
    .scroll-down:focus:after, .scroll-down:hover:after, .scroll-down:active:after {
      top: 30%; }

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2; }
  nav a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    line-height: 36px; }
    nav a.logo {
      display: block;
      margin: 15px 15px 15px 0;
      width: 159px;
      height: 36px;
      background-image: url(./../../styles/images/jb-logo.svg);
      background-repeat: no-repeat; }
  nav ul {
    padding-left: 0;
    text-align: right; }
  nav li {
    list-style-type: none;
    display: inline;
    padding: 0 10px; }
    nav li:last-of-type {
      padding-right: 0; }
  nav .menu-opener {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 5; }
    nav .menu-opener:focus {
      outline: none; }
      nav .menu-opener:focus span {
        background-color: #BBBFCE; }
    nav .menu-opener span {
      display: block;
      width: 30px;
      height: 5px;
      background-color: #FFF;
      border-radius: 3px;
      transition-duration: 0.3s;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto; }
      nav .menu-opener span:first-of-type {
        top: 7px; }
      nav .menu-opener span:nth-of-type(even) {
        top: 17px; }
      nav .menu-opener span:last-of-type {
        top: 27px; }
  @media screen and (max-width: 1280px) {
    nav a.logo {
      margin-left: 15px; } }
  @media screen and (max-width: 768px) {
    nav ul {
      /* display: none; */
      width: 65%;
      /* float: right; */
      position: fixed;
      right: 0;
      top: 0;
      padding-top: 75px;
      transform: translateX(100%);
      transition-duration: 0.3s;
      text-align: left;
      height: 100%;
      background-color: #1E3066;
      margin-top: 0; }
    nav li {
      display: block; }
      nav li a {
        padding-left: 75px;
        position: relative; }
        nav li a:before {
          position: absolute;
          left: -60px;
          width: 65px;
          height: 3px;
          background-color: #3EAD48;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition-duration: 0.3s; }
        nav li a.active:before, nav li a:hover:before, nav li a:focus:before {
          opacity: 1;
          left: -40px; }
    nav a.logo {
      width: 36px; } }

.show-menu {
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .show-menu .menu-opener {
    transform: rotateY(180deg); }
    .show-menu .menu-opener span {
      background-color: #BBBFCE; }
      .show-menu .menu-opener span:first-of-type {
        transform: rotate(45deg);
        top: 18px; }
      .show-menu .menu-opener span:nth-of-type(even) {
        opacity: 0; }
      .show-menu .menu-opener span:last-of-type {
        transform: rotate(-45deg);
        top: 18px; }
  .show-menu ul {
    transform: translateX(0); }
    .show-menu ul a:before {
      content: ''; }

.mobile-menu-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
  cursor: pointer; }

.section-light-grey {
  background-color: #F4F4F4; }

.section-white {
  background-color: #FFF;
  position: relative; }
  .section-white.additional-color-gap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    background-color: #FFF; }

.section-green {
  background-color: #3EAD48;
  color: #FFF; }

.content-block {
  top: 0;
  left: 0;
  display: inline-block;
  float: left; }
  .content-block img {
    width: 100%;
    height: auto; }

.text-block {
  padding: 50px;
  width: calc( 45% - 100px);
  position: relative;
  z-index: 2;
  border-radius: 3px; }

.image-block {
  width: calc( 55% + 70px);
  background-image: url(./../../styles/images/pp-foosball-match.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -70px;
  margin-top: 70px;
  position: relative;
  z-index: 1; }

.statistics-block {
  padding: 50px;
  width: calc(35% - 100px);
  margin-left: 65px;
  margin-top: -115px;
  position: relative;
  z-index: 1; }

.statistics-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.statistics-item i {
  display: block; }

q {
  display: block;
  position: relative; }
  q:before {
    font-size: 60px;
    position: absolute;
    left: -30px;
    color: rgba(255, 255, 255, 0.5); }

.avatar {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 15px; }
  .avatar .image {
    width: 64px;
    height: 64px;
    background-image: url(./../../styles/images/pp-social-proof.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: #FFF; }
  .avatar .name span {
    display: block; }

.section-contact .image-block {
  width: 100%;
  height: 420px;
  margin: 0;
  padding: 0;
  background-image: url(./../../styles/images/pp-office.jpg); }

.award-element span {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.awards-block div:first-of-type span {
  background-image: url(./../../styles/images/pp-reward-1.svg); }

.awards-block div:nth-of-type(2) span {
  background-image: url(./../../styles/images/pp-reward-2.svg); }

.awards-block div:nth-of-type(3) span {
  background-image: url(./../../styles/images/pp-reward-3.svg); }

.awards-block div:nth-of-type(4) span {
  background-image: url(./../../styles/images/pp-reward-4.svg); }

.awards-block div:nth-of-type(5) span {
  background-image: url(./../../styles/images/pp-reward-5.svg); }

footer {
  padding: 40px 15px;
  background-color: #1E3066; }

.contact-form {
  display: grid; }
