.banner {
	height: 720px;
	background-image: url(./../../styles/images/pp-main-background.jpg);
	background-position: center;
	background-size: cover;

	@media screen and (max-width: $md) {
		height: 620px;
	}

	@media screen and (max-width: $sm) {
		height: 500px;
		
		.banner-content {
			top: 58%;
			p {
				margin-bottom: 25px;
			}

			h1 {
				margin-bottom: 15px;
			}
		}
	}

	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		.banner-content {
			p {
				margin-bottom: 30px;
			}
		}
	}
}  

.banner-content { 
	top: 58%;
	position: relative;
	transform: translateY(-50%);
	padding: 0 15px;

	p {
		margin-bottom: 55px;
	}
} 