.contact-form {

  input {
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid $color-mid-grey-2;
		padding: 15px 0;
	}
	
	textarea {
		background-color: $color-light-grey;
		border: 1px solid $color-mid-grey-2;
		padding: 15px 20px;
		border-radius: $border-radius;
		min-height: 110px;
		width: 100%;
    box-sizing: border-box;
    display: block;
	}

	input, textarea {
		transition-duration: $default-easing-time;
		outline: none;
		&:focus {
			border-color: $color-secondary;
		}
	}
}