.container {
  max-width: 1200px;
	margin: 0 auto;
	
	&:after {
		clear: both;
    content: "";
    display: table;
	}
}

@media screen and (min-width: $md + 1) and (max-width: $lg) {
	[class^="grid"]:not(.grid-half-half) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.grid-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-5-parts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 60px;
	
	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 15px;
		div {
			&:nth-of-type(4),
			&:last-of-type {
				grid-row: 2;
			}

			&:nth-of-type(4) {
				grid-column: 1 / 3;
			}

			&:last-of-type {
				
				grid-column: 2 / 4;
			}
		}
	}

	@media screen and(max-width: $sm) {
		grid-template-columns: 1fr;
	}
}

.grid-2-parts {
	display: grid;
	grid-column-gap: 65px;
	grid-template-columns: 5fr 6fr;

	@media screen and (max-width: $md) {
		grid-template-columns: 1fr;

		div.image-block {
			margin: 0 15px;
			width: calc(100% - 30px);
		}

		.contact-form {
			> div {
				margin: 0 50px;
			}
		}
	}

	@media screen and(max-width: $sm) {
		div.image-block {
			width: 100%;
			margin: 0;
		}
		.contact-form {
			> div {
				margin: 0 15px;
			}
		}
	}
}

.grid-half-half {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 1fr 1fr;

	@media screen and(max-width: $sm) {
		grid-template-columns: 1fr;
	}
}

.grid-3-tiles {
	display: grid;
	grid-template-columns: 3fr 4fr;

	.text-block {
		width: 100%;
		padding: 50px;
		margin-bottom: 50px;
	}

	.image-block {
		width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
		margin-bottom: -70px;
		margin-left: 0;
    position: relative;
    z-index: 1;
	}

	.statistics-block {
		padding: 40px;
    width: 85%;
    margin-left: 65px;
		margin-top: -50px;
		margin-bottom: -50px;
    position: relative;
    z-index: 2;
	}

	.quote-block {
		padding: 50px 50px 50px 120px;
		margin-top: 70px;
		margin-left: 50px;
		margin-bottom: 50px;
	}

	&.bottom-section {
		.text-block {
			margin-bottom: 100px;
		}
		@media screen and (min-width: $sm + 1) and (max-width: $md) {
			grid-template-columns: 1fr;
			padding: 0 15px;
			>div {
				width: 80%;
				padding: 0;
				
			}
			.text-block {
				margin-bottom: 0;
				order: 1/2;
				div {
					padding:40px 20px;
				}
			}

			.quote-block {
				justify-self: end;
				margin-top: -60px;
				margin-left: 0;
				grid-row: 2;
				margin-bottom: -150px;
				position: relative;
				z-index: 1;
				>div {
					padding: 100px 40px 40px 80px;
				}
			}
		}

		@media screen and(max-width: $sm) {
			grid-template-columns: 1fr;

			> div {
				width: 100%;
				margin: 0;
				padding: 0;
			}

			.text-block {
				margin: 0 15px;
				width: calc(100% - 30px);
				div {
					padding:40px 20px;
				}
			}

			.quote-block {
				margin-top: -40px;
				> div {
					padding: 80px 15px 40px;
				}
			}

			q {
				&:before {
					top: 40px;
					right: 20px;
					left: inherit;
					font-size: 100px;
				}
			}
		}
	}
}

.grid-column-change-order {
	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		grid-template-columns: 6fr 3fr;
		padding: 0 15px;
		div.statistics-block {
			order: 2;
			margin: 70px 0 0 30px;
			padding: 0;
			width: calc(100% - 30px);

			h4 {
				margin: 45px 20px 0;
			}

			.statistics-wrapper {
				padding: 40px;
				grid-template-columns: 1fr;
				grid-row-gap: 20px;
			}
		} 

		.image-block {
			order: 3;
			margin-top: -100px;
			height: 320px;
			margin-left: 30px;
			width: calc(100% + 60px);
		}

		.text-block {
			padding: 50px 30px;
			margin-bottom: 100px;
			p {
				margin-bottom: 50px;
			}

		}
	}

	@media screen and(max-width: $sm) {
		grid-template-columns: 1fr;

		.text-block {
			padding: 0;
			margin: 0 15px;
			width: calc(100% - 30px);
			div {
				padding: 40px 15px;
			}
		}

		.image-block {
			margin-top: -35px;
		}

		.statistics-block {
			margin: 0;
			padding: 40px 0 ;
			width: 100%;
			
			.statistics-wrapper {
				grid-template-columns: 1fr;
				grid-row-gap: 25px;
			}
		}
	}
}