.container {
  max-width: 1200px;
	margin: 0 auto;
	
	&:after {
		clear: both;
    content: "";
    display: table;
	}
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-5 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 60px;
}

.grid-2 {
	display: grid;
	grid-column-gap: 65px;
	grid-template-columns: 5fr 6fr;
}

.grid-50 {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 1fr 1fr;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.right-lower {
	width: calc(45% - 55px);
	padding: 50px 50px 50px 120px;
	margin-top: 70px;
	margin-left: -55px;
}