h1, h2, .h2, h3, .h3 {
	font-family: $font-secondary-bold;
}

h1 {
	font-size: 64px;
	line-height: 64px;
	margin: 15px 0 35px;

	@media screen and (max-width: $sm) {
		font-size: 38px;
		line-height: 38px;
	}
}

h2, .h2 {
	font-size: 48px;
	line-height: 56px;
	color: $color-black;
}

h3, .h3 {
	font-size: 32px;
	line-height: 38px;
	margin: 10px 0;

	@media screen and (max-width: $sm) {
		font-size: 24px;
		line-height: 28px;
	}
}

h4, .h4 {
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: $font-primary-bold;
	color: $color-grey;
	@media screen and (max-width: $sm) {
		font-size: 15px;
		line-height: 20px;
	}
}

p, .p, q, span, input, textarea {
	font-size: 15px;
	line-height: 24px;
	font-family: $font-primary-regular;
	@media screen and (max-width: $sm) {
		font-size: 14px;
		line-height: 22px;
	}
}

p, .p, q, span {
	color: $color-black;
}


input, textarea {
	color: $color-grey;
}

i {
	font-style: normal;
}

p {
	margin-bottom: 25px;
}

button, .button {
	font-size: 16px;
	line-height: 19px;
	font-family: $font-primary-bold;
	color: $color-black;
	@media screen and (max-width: $sm) {
		font-size: 15px;
		line-height: 18px;
	}
}

.bold {
	font-family: $font-primary-bold;
}

.medium {
	font-family: $font-primary-medium;
}

nav {
	a {
		font-family: $font-primary-bold;
	}
}

body {
  font-family: $font-primary-regular;
}

input, textarea {
	font-family: $font-primary-regular;
}
