body {
  margin: 0;
}

.text-center {
	text-align: center;
} 

.color-white, span.color-white, 
p.color-white {
	color: $color-white;
}

i.color-green,
.color-green {
	color: $color-primary;
}

.color-grey,
i.color-grey {
	color: $color-grey;
}

.mt-3 {
	margin-top: 30px;
}

.mt-5 {
	margin-top: 50px !important;
} 

.mt-6 {
	margin-top: 60px !important;
} 

.pt-10 {
	padding-top: 100px;
}

.mb-2-5 {
	margin-bottom: 25px;
}

.mb-10 {
	margin-bottom: 100px !important;
}

.pt-5 {
	padding-top: 50px;
}

.pt-0-mobile {
	@media screen and(max-width: $sm) {
		padding-top: 0;
	}
}

.pt-5-mobile {
	@media screen and(max-width: $sm) {
		padding-top: 50px;
	}
}

.pt-7-tablet {
	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		padding-top: 70px;
	}
}

.pt-22-tablet {
	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		padding-top: 220px;
	}
}

.pb-5 {
	padding-bottom: 50px;
}

.pb-10 {
	padding-bottom: 100px;
}

.pb-0-mobile {
	@media screen and(max-width: $sm) {
		padding-bottom: 0;	
	}
}

.pb-4-mobile {
	@media screen and(max-width: $sm) {
		padding-bottom: 40px;	
	}
}

.pb-0-mobile-tablet {
	@media screen and(max-width: $md) {
		padding-bottom: 0;	
	}
}

.pb-7-tablet {
	@media screen and (min-width: $sm + 1) and (max-width: $md) {
		padding-bottom: 70px;
	}
}

.hidden-lg {
	@media screen and (min-width: $md + 1) {
		display: none !important;
	}
}

.element-shadow {
	box-shadow: 0px 3px 6px 0px rgba(black, 0.18);
}

.relative {
	position: relative;
}