// color pallete
$color-primary: #3EAD48;
$color-secondary: #1E3066;
$color-black: #323232;
$color-grey: #7E7E7E;
$color-mid-grey: #BBBFCE;
$color-light-grey: #F4F4F4;
$color-white: #FFF;

// easings
$default-easing-time: .3s;

// otherr
$border-radius: 3px;