// color pallete
$color-primary: #3EAD48;
$color-secondary: #1E3066;
$color-black: #323232;
$color-grey: #7E7E7E;
$color-mid-grey: #BBBFCE;
$color-mid-grey-2: #C2C2C2;
$color-light-grey: #F4F4F4;
$color-white: #FFF;

// easings
$default-easing-time: .3s;

// other
$border-radius: 3px;

// breakpoints
$xs: 320px;
$sm: 560px;
$md: 768px;
$lg: 1280px;